<!DOCTYPE html>
<html>
  <head>
    <title>Green Day | Store</title>
    <meta name="description" content="This is the description" />
    <link rel="stylesheet" href="styles.css" />
    <script src="store.js" defer></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://hosted.paysafe.com/checkout/v2/paysafe.checkout.min.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <section class="container content-section">
      <h2 class="section-header">MUSIC</h2>
      <div class="shop-items">
        <% items.music.forEach(function(item){ %>
        <div class="shop-item" data-item-id="<%= item.id %>">
          <span class="shop-item-title"><%= item.name %></span>
          <img class="shop-item-image" src="Images/<%= item.imgName %>" />
          <div class="shop-item-details">
            <span class="shop-item-price">$<%= item.price / 100 %></span>
            <button class="btn btn-primary shop-item-button" type="button">
              ADD TO CART
            </button>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
    <section class="container content-section">
      <h2 class="section-header">MERCH</h2>
      <div class="shop-items">
        <% items.merch.forEach(function(item){ %>
        <div class="shop-item" data-item-id="<%= item.id %>">
          <span class="shop-item-title"><%= item.name %></span>
          <img class="shop-item-image" src="Images/<%= item.imgName %>" />
          <div class="shop-item-details">
            <span class="shop-item-price">$<%= item.price / 100 %></span>
            <button class="btn btn-primary shop-item-button" type="button">
              ADD TO CART
            </button>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
    <section class="container content-section">
      <h2 class="section-header">CART</h2>
      <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
      </div>
      <div class="cart-items"></div>
      <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
      </div>
      <button class="btn btn-primary btn-purchase" type="button">
        PURCHASE
      </button>
    </section>
    <div class="popup-container form-container">
      <div class="form-pop-up">
        <span
          aria-label="Close popup"
          class="material-symbols-outlined close"
          onclick="closeForm()"
        >
          close
        </span>
        <form id="SignUpform">
          <h2 class="form-header">Enter Details</h2>
          <input
            class="form-content"
            type="text"
            placeholder="first name"
            maxlength="80"
            name="firstName"
            id="firstName"
            required
          />
          <input
            class="form-content"
            type="text"
            placeholder="last name"
            maxlength="80"
            name="lastName"
            required
          />
          <input
            class="form-content"
            type="date"
            name="dateOfBirth"
            min="1900-01-01"
            required
          />
          <input
            class="form-content"
            type="email"
            placeholder="email"
            maxlength="255"
            name="email"
            required
          />
          <input
            class="form-content"
            type="text"
            placeholder="street"
            maxlength="50"
            name="street"
            required
          />
          <input
            class="form-content"
            type="text"
            placeholder="city"
            maxlength="40"
            name="city"
            required
          />
          <input
            class="form-content"
            type="text"
            placeholder="zip"
            maxlength="10"
            name="zip"
            required
          />
          <input
            class="form-content"
            type="text"
            placeholder="state code like CA for California"
            maxlength="2"
            minlength="2"
            name="state"
            oninput="this.value = this.value.toUpperCase()"
            required
          />
          <input
            class="form-content"
            type="text"
            placeholder="country code like US for America"
            maxlength="2"
            minlength="2"
            name="country"
            oninput="this.value = this.value.toUpperCase()"
            required
          />
          <button class="form-footer btn btn-primary" type="submit">
            Submit
          </button>
          <!-- <button
            class="form-footer btn btn-primary"
            style="margin-top: 5px"
            type="button"
            onclick="openLoginForm()"
          >
            Login
          </button> -->
        </form>
      </div>
    </div>
    <div class="popup-container loading-container">
      <div class="loader"></div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
